<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 5px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img style="width: 200px; height:200px;"
                src="https://imgs.search.brave.com/7JzsZjqAeKhTDxdEbeZ45jrbyhcas_NMleB8sloc5bw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93c2Vj/LmVkdS5hei9pbWFn/ZXMvdW5pdmVyc2l0/aWVzL2F6ZXJiYXlj/YW4tdGV4bmlraS11/bml2ZXJzaXRldGkt/bG9xby5qcGc"
                alt="AzTU">
        </div>
        <h2 style="color: #333333;">Salam, {{ name }}!</h2>
        <p style="color: #666666;">
            Bu, sizin 1 dəfəlik istifadə üçün göndərilən OTP təsdiqləmə kodunuzdur:
        </p>
        <h1 style="text-align: center; letter-spacing: 5px; font-size: 24px; color: #333333; margin: 20px 0;">
            {{ otp_code }}
        </h1>
        <p style="color: #666666;">
            Bu kod yalnız 5 dəqiqə ərzində etibarlıdır. Zəhmət olmasa, kodu vaxtında daxil edin.
        </p>
        <p style="color: #666666;">
            Əgər bu sorğunu siz etməmisinizsə, zəhmət olmasa, bu e-poçtu nəzərə almayın.
        </p>
        <hr>
        <p style="font-size: 12px; color: #aaaaaa;">AzTU Tədqiqatçılar Sistemi. Bütün hüquqlar qorunur.</p>
    </div>
</body>

</html>