<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 5px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img style="width: 200px; height:200px;"
                src="https://imgs.search.brave.com/7JzsZjqAeKhTDxdEbeZ45jrbyhcas_NMleB8sloc5bw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93c2Vj/LmVkdS5hei9pbWFn/ZXMvdW5pdmVyc2l0/aWVzL2F6ZXJiYXlj/YW4tdGV4bmlraS11/bml2ZXJzaXRldGkt/bG9xby5qcGc"
                alt="AzTU">
        </div>
        <h2 style="color: #333333;">Salam, {{ name }} {{surname}}</h2>
        <p style="color: #666666;">Sistemə uğurla qeydiyyatdan keçdiniz. Xoş gəlmisiniz!</p>
        <p style="color: #666666;">Hesabınız təsdiqləndikdən sonra sizə e-poçt vasitəsilə xəbərdarlıq ediləcək!</p>
        <hr>
        <p style="font-size: 12px; color: #aaaaaa;">AZTU Tədqiqatçılar. Bütün hüquqlar qorunur.</p>
    </div>
</body>

</html>