__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.env
.env.*    # if you have .env.dev, .env.prod, etc.

*.log

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/

migrations/versions/*.pyc